
/*formulario*/

h2{
	color: #5d47eb;
}

form.form{
	padding: 50px;
    box-shadow: 0 15px 35px #3c425714, 0 5px 15px #0000001f;
    border-radius: 0.25rem;
    max-width: 450px;
    margin: auto;
    background-color: var(--white);
	flex-direction: column;
}

form .input-group-text {
    background: white;
    border-top: none;
    border-left: none;
    border-right: 0px;
    border-radius: 0px;
}

form .input-group-text:focus,
.form-control:focus{
	outline: none;
	box-shadow: none;
	border-bottom: 1px solid var(--violet);
}

form .input-group-text span {
    font-size: .7rem;
}

form input.form-control {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ced4da;
    font-size: .85rem;
}

.btn-link:hover{color:var(--violet);text-decoration: none;}

main{
	margin-top: 230px;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

input{
	width: 100%;
}

.form-group{
	width: 100%;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield; /* Firefox */
}